.venv/
International Logistic Association Memberships.xlsx  
Association ABC memberships.csv  
~$poran Latihan Praktikum.docx  
2566140f47c55dee850c7e84046cce918795module.pdf  
kaggle.json  
Laporan Latihan Praktikum.docx  
module2.pdf  